<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="suite of suites" thread-count="1" parallel="tests">
	

	<test name="Chrome Suite" enabled="true">
	<parameter name="browser" value="Chrome" />
  		<classes>
    		<class name="com.empirix.cloud.testcases.MyProfile">  		
    		<methods>
        			<include name="userTabs" />     		 
          </methods>
        	</class>
         </classes> 
	</test>
	
	
	<test name="Firefox Suite" enabled="true">
	<parameter name="browser" value="Firefox" />
  		<classes>
    		<class name="com.empirix.cloud.testcases.Login">  		
    		<methods>
        			<include name="verifyLogin" />     		 
          </methods>
        	</class>
         </classes> 
	</test>  
	
	
	<test name="Edge Suite" enabled="true">
	<parameter name="browser" value="Edge" />
  		<classes>
    		<class name="com.empirix.cloud.testcases.Login">  		
    		<methods>
        			<include name="verifyLogin" />     		 
          </methods>
        	</class>
         </classes> 
	</test> 
</suite>	