<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="suite of suites">


	


	<test name="Event" enabled="true">
  		<classes>
    		<class name="com.empirix.cloud.testcases.MyProfile">
    		
    		<methods>
 
        			<include name="switchLanguage" />     		 
          </methods>
        	</class>
         </classes> 
	</test>
</suite>	